---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.author__avatar img {
  max-width: 200px;
}

.author__avatar a {
  pointer-events: none;
  cursor: default;
  opacity: 1 !important;
}
